
@media only screen and (min-width: 1025px) {

    .body-container {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
    }

    .mobile-options-header {
        display: none;
    }

    .board-container {
        padding: .5rem 4rem;
        width: initial;
    }

    .board-table{
        grid-template-columns: repeat(5, 8.75rem);
        grid-template-rows: repeat(5, 8.75rem);
    }

    .board-header-bingo {
        grid-template-columns: repeat(5, 8.75rem);
        margin: 0 1rem;
    }

    .winning-container {
        width: calc(5 * 8.75rem);
        height: calc(5 * 8.75rem);
    }

    .square {
        font-size: 1.25rem;
    }

    .game-options-container {
        display: flex;
    }

    .topic-wrapper {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        justify-self: flex-end;
    }

    .topic-title {
        display: block;
    }

    .tri-toggle-container {
        height: 2.5rem;
        width: 13.875rem;
        font-size: 1rem;
        border-radius: 1.25rem;
        line-height: 1;
    }
    .tri-toggle-selected {
        border-radius: 1.25rem;
    }
    .tri-toggle-option {
        line-height: 90%;
    }
}
