@font-face {
    font-family: "Antenna";
    font-weight: 500;
    src: url("../assets/fonts/antenna/FordAntennaWGL-Regular.otf");
}

@font-face {
    font-family: "Antenna";
    font-weight: bold;
    src: url("../assets/fonts/antenna/FordAntennaWGL-Bold.otf");
}

html,
body {
    margin: 0;
    padding: 0;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 100%;
    height: 100%;
    max-height: 100%;
    font-family: Ubuntu, sans-serif;
    line-height: 1;
}

button,
input,
textarea {
    font-family: Ubuntu, sans-serif;
}

button:disabled,
button[disabled] {
    opacity: .4 !important;
}

label {
     display: block;
     margin-bottom: 0;
}

.body {
    background-color: white;
    color: #545454;
    min-height: 100vh;
    overflow: auto;
}

.body-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.centered {
    text-align: center;
}

.label {
    padding: .75rem;
}

.anchor {
    padding: 0 2rem;
    margin: 0 -2rem;
}

.anchor:link {
    text-decoration: none;
}

.anchor:visited {
    text-decoration: none;
}

.anchor:hover {
    text-decoration: underline;
}

.anchor:active {
    text-decoration: underline;
}

.mobile-options-header {
    display: flex;
    padding: .5rem;
    font-size: 1.25rem;
    text-transform: uppercase;
}

.board-content {
    margin: .5rem;
    padding: 1rem;
    background-color: white;
}

.board-table {
    display: grid;
    grid-template-columns: repeat(5, 17.5vw);
    grid-template-rows: repeat(5, 17.5vw);
}

.square-star {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square-star-innerHtml {
    position: relative;
    z-index: 10;
    text-transform: uppercase;
}

.square-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.dot {
    position: absolute;
    height: 85%;
    width: 85%;
    top: 50%;
    left: 50%;
}

.winning-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

}

.winning-container label {
    margin: .5rem;
    display: inline-block;
}

.winning-header {
    font-size: 3.125rem;
    align-items: center;
    display: flex;
    font-weight: bold;
    margin: 2rem;
    position: relative;
    text-transform: uppercase;
    z-index: 10;
}

.winning-star {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.winning-header-emoji {
    font-size: 6rem;
    margin: 0 3rem;
}

.star-rating {
    color: #ECB904;
    font-size: 2.5rem;
    cursor: pointer;
}

.top-score-table {
    display: grid;
    text-align: left;
    grid-template-columns: 20% auto 20%;
    background: rgba(236, 185, 4, 0.5);
    border-radius: 8px;
    padding: 1rem 2rem;
}

.top-score-row {
    margin: .3rem 0;
}

.player-input {
    background: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    padding: 0 .75rem;
    max-width: 10rem;
}

.submit-button {
    font-size: 1.9rem;
    line-height: 100%;
    padding: 1rem;
    background: #ED9E28;
    border-radius: 8px;
    margin: 1rem;
    color: #545454;
}

.suggestion-input {
    padding: .3125rem;
    border-radius: 5px;
    width: 25rem;
    min-height: 2rem;
    height: 3rem;
    max-height: 4rem;
    max-width: 27rem;
    font-weigt: bold;
    font-size: 1rem;
}

.suggestion-input-dark::placeholder {
    opacity: .7;
}

.topic-title,
.top-score-title,
.options-title {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.selected-border {
    border: 1px solid #545454;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.square-color-chip {
    height: 3rem;
    width: 3rem;
}

.color-chip-option {
    border: none;
    padding: .75rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.color-chip-label {
    font-size: 1rem;
    font-weight: bold;
    padding: .75rem;
    cursor: pointer;
}

.blue-dauber {
    background-color: #095CFF66;
}

.keylime-dauber {
    background-color: #79BA1066;
}

.magenta-dauber {
    background-color: #FA00C366;
}

.ruby-dauber {
    background-color: #D3133666;
}

.tangerine-dauber {
    background-color: #ED9E2866;
}

.round-color-chip {
    height: 2.375rem;
    width: 2.375rem;
    border-radius: 50%;
}

.square {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    padding: 5px;
    position: relative;
    font-weight: bold;
    font-size: 1.6rem;
    flex: 1;
    display: flex;
    word-break: break-word;
    justify-content: center;
}

.square-innerHtml {
    align-items: center;
    display: flex;
    overflow: hidden;
}

.square-border-right {
    border-right: 4px solid #545454;
}

.square-border-bottom {
    border-bottom: 4px solid #545454;
}

.square-border-none {
    border: none;
}

.blue-dauber-cursor {
    cursor: url('../assets/blue-dauber_v1.png') 5 110, auto;
}

.keylime-dauber-cursor {
    cursor: url('../assets/key-lime-dauber_v1.png') 5 110, auto;
}

.magenta-dauber-cursor {
    cursor: url('../assets/magenta-dauber_v1.png') 5 110, auto;
}

.ruby-dauber-cursor {
    cursor: url('../assets/ruby-dauber_v1.png') 5 110, auto;
}

.tangerine-dauber-cursor {
    cursor: url('../assets/tangerine-dauber_v1.png') 5 110, auto;
}

.game-options-container,
.game-selector-view-mobile {
    display: flex;
    flex-direction: column;
    max-width: 18rem;
}



.options-container,
.topic-wrapper-mobile {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-self: flex-start;
}

.topic-mobile-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding: 3rem;
    margin: -3rem;
}

.caret-container {
    margin: 0 .5rem
}

.options-icon {
    position: relative;
    padding: 3rem 0rem 3rem 3rem;
    margin: -3rem 0rem -3rem auto;
}

.topic-container {
    display: block;
    position: relative;
    padding-left: 1rem;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.topic-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: .75rem;
    left: 0;
    height: 18px;
    width: 18px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #545454;
}


.checkmark-checked {
    background-color: #45A0F4;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.topic-container input:checked ~ .checkmark:after {
    display: block;
}

.topic-container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bottom-item {
    margin-top: auto;
    margin-bottom: 0;
}

.footer-container {
    text-align: center;
}

.fordLabs-footer {
    font-weight: bold;
    font-family: "Antenna";
    text-align: center;
    font-size: .8rem;
    margin: 1rem;
}

.board-header {
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 50px;
    letter-spacing: 1.13rem;
    font-family: Stoke, serif;
    padding-left: 1.5rem;
    color: white;
}

.board-header-bingo {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 17.5vw);
    font-size: 4rem;
    margin: 0 1rem 0 .5rem;
    text-align: center;
    font-family: Stoke, serif;
    line-height: 90%;
    color: white;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    max-width: 95vw;
    padding: .5rem;
}

.tri-toggle-container {
    background-color: #C0C0C0;
    border-radius: 1.5rem;
    height: 3rem;
    width: 18rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    align-self: center;
    color: #575757;
    cursor: pointer;
    font-size: 1.1rem;

}

.tri-toggle-selected {
    background-color: #E9E9E9;
    border-radius: 1.5rem;
    color: #575757;
}

.tri-toggle-option {
    display: grid;
    text-align: center;
    line-height: 100%;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.original-red {
    background: #EB514D;
}

.faded-blue {
    background: #97CBEB;
}

.lucky-purple {
    background: #896DD6;
}

.goofy-green {
    background: #84D552;
}

.ford-blue {
    background: linear-gradient(180deg, #4CA9E3 0%, #0F2955 89.58%);
}

.mobile-menu {
    position: absolute;
    top: 5rem;
    z-index: 100;
    padding: 1rem;

    background: white;
    border: 1px solid #E5E5E5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.mobile-topics {
    left: 2.5rem;
}

.mobile-options {
    right: -.5rem;
}

.topic-wrapper,
.game-options-container,
.topic-title{
    display: none;
}

.modal-container {
    background: white !important;
}

/*Bootstrap overrides*/
.modal-dialog,
.modal-content {
    width: 100vw;
    max-width: unset;
    height: 100vh;
    max-height: 100vh;
    padding: 0;
    margin: 0;
    border: none;
    background: unset;
}

.close:focus, .close:hover {
    color: unset;
    opacity: .5;
}