@font-face {
    font-family: "Antenna";
    font-weight: 500;
    src: url("../assets/fonts/antenna/FordAntennaWGL-Regular.otf");
}

@font-face {
    font-family: "Antenna";
    font-weight: bold;
    src: url("../assets/fonts/antenna/FordAntennaWGL-Bold.otf");
}

body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
    outline: none;
}

html,
body {
    margin: 0;
    padding: 0;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 100%;
    height: 100%;
    max-height: 100%;
    font-family: Karla, sans-serif;
    line-height: 1;
}

button,
input,
textarea {
    font-family: Karla, sans-serif;
}

button{
    background: transparent;
    border: none;
    font: inherit;
    color: inherit;
    align-items: center;
}
button:disabled,
button[disabled] {
    opacity: .4 !important;
}

a:focus,
button:focus {
    outline: 3px solid #ECB904;
}

label {
    display: block;
    margin-bottom: 0;
}

.body {
    background-color: white;
    color: #545454;
    min-height: 100vh;
    overflow: auto;
}

.body-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.centered {
    text-align: center;
    align-items: center;
}

.bold {
    font-weight: bold;
}

.label {
    padding: .75rem;
    width: max-content;
}

.anchor {
    padding: 0 2rem;
    margin: 0 -2rem;
}

.anchor:link {
    text-decoration: none;
}

.anchor:visited {
    text-decoration: none;
}

.anchor:hover {
    text-decoration: underline;
}

.anchor:active {
    text-decoration: underline;
}

.mobile-options-header {
    display: flex;
    grid-template-columns: 40% 20% 40%;
    padding: .5rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    justify-content: space-between;
}

.board-content {
    margin: .5rem;
    padding: 1rem;
    background-color: white;
}

.board-table {
    display: grid;
    grid-template-columns: repeat(5, 17.5vw);
    grid-template-rows: repeat(5, 17.5vw);
}

.square-star {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square-star-innerHtml {
    position: relative;
    z-index: 10;
    text-transform: uppercase;
}

.square-container {
    display: flex;
    height: 100%;
    width: 100%;
}

.dot {
    opacity: .6;
    position: absolute;
    height: 85%;
    width: 85%;
    top: 50%;
    left: 50%;
}

.winning-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 40vh;
}

.winning-container label {
    font-size: 1.25rem;
    font-weight: bold;
    display: inline-block;
    max-width: 22rem;
}

.winning-header {
    font-size: 3.125rem;
    align-items: center;
    display: flex;
    font-weight: bold;
    margin: 2rem;
    position: relative;
    text-transform: uppercase;
    z-index: 10;
}

.winning-star {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.winning-header-emoji {
    font-size: 6rem;
    margin: 0 3rem;
}

.star-rating {
    color: #ECB904;
    font-size: 2.5rem;
    cursor: pointer;
    margin: 1rem 0;
}

.top-score-table {
    display: grid;
    text-align: left;
    grid-template-columns: 20% auto 20%;
    background: rgba(236, 185, 4, 0.5);
    border-radius: 8px;
    padding: 1rem 2rem;
    max-height: 15rem;
}

.top-score-row {
    margin: .3rem 1rem;
}

.player-input {
    background: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    padding: 0 .75rem;
    margin-right: 1rem;
    max-width: 10rem;
}

.submit-button {
    font-size: 1.9rem;
    line-height: 100%;
    padding: 1rem;
    background: #ED9E28;
    border-radius: 8px;
    margin: 1rem;
    color: #545454;
    text-transform: uppercase;
    min-width: 12rem;
    cursor: pointer;
}

.text-button {
    border: none;
    background: transparent;
    color: #ED9E28;
    cursor: pointer;
    align-self: flex-start;
    padding: 0;
    margin: auto 0 1rem;
}
.copy-button {
    color: #ED9E28;
    border: none;
    display: flex;
    padding: 1rem 1rem 1rem 1rem;
    align-items: center;
    background: transparent;
    margin: -1rem -1rem -1rem 0;
}
.copy-button > div {
    padding: 0 0 .1rem .3rem;
}

.feedback-container {
    text-transform: none;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 30rem;
}

.feedback-response {
    text-align: center;
    padding-bottom: 10rem;
}

.submit-button-secondary {
    border: 2px solid #ED9E28;
    box-sizing: border-box;
    border-radius: 8px;
    width: 100%;
    color: #ED9E28;
    background-color: transparent;
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
    padding: .5rem;
    margin: 1rem 0;
}

.suggestion-input {
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: .3125rem;
    width: 100%;
    min-height: 2rem;
    height: 6rem;
    max-height: 10.5rem;
    font-weight: bold;
    font-size: 1rem;
    resize: none !important;
    margin-top: 1.5rem;
    border: 0.5px solid #545454;
}

.suggestion-input::placeholder {
    opacity: .7;
    font-style: italic;
    font-weight: 300;
    color: #8B8B8B;
    font-size: 1rem;
}

.multiplayer-input {
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    max-width: 5rem;
    font-weight: bold;
    font-size: 1rem;
    resize: none !important;
    border: 0.5px solid #545454;
}

.multiplayer-input::placeholder {
    opacity: .7;
    font-style: italic;
    font-weight: 300;
    color: #8B8B8B;
    font-size: 1rem;
}

.topic-title,
.options-title,
.multiplayer-title {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: .5rem;
}

.top-score-title {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1.75rem;
}

.selected-border {
    border: 1px solid #545454;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.square-color-chip {
    height: 3rem;
    width: 3rem;
}

.color-chip-option {
    border: none;
    padding: .75rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.color-chip-label {
    font-size: 1rem;
    font-weight: bold;
    padding: .75rem;
    cursor: pointer;
}

.blue-dauber {
    background-color: rgb(139, 188, 206);
}

.keylime-dauber {
    background-color: rgb(152, 210, 177);
}

.magenta-dauber {
    background-color: rgb(234, 207, 126);
}

.ruby-dauber {
    background-color: rgb(241, 172, 130);
}

.tangerine-dauber {
    background-color: rgb(218, 218, 219);
}

.round-color-chip {
    height: 2.375rem;
    width: 2.375rem;
    border-radius: 50%;
}

.square {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    padding: 5px;
    position: relative;
    font-size: 1.6rem;
    flex: 1;
    display: flex;
    word-break: break-word;
    justify-content: center;
}

.square-innerHtml {
    align-items: center;
    display: flex;
    overflow: hidden;
}

.square-border-right {
    border-right: 4px solid #545454;
}

.square-border-bottom {
    border-bottom: 4px solid #545454;
}

.square-border-none {
    border: none;
}

.blue-dauber-cursor {
    cursor: url('../assets/blue-dauber.png') 5 110, auto;
}

.keylime-dauber-cursor {
    cursor: url('../assets/green-dauber.png') 5 110, auto;
}

.magenta-dauber-cursor {
    cursor: url('../assets/yellow-dauber.png') 5 110, auto;
}

.ruby-dauber-cursor {
    cursor: url('../assets/orange-dauber.png') 5 110, auto;
}

.tangerine-dauber-cursor {
    cursor: url('../assets/gray-dauber.png') 5 110, auto;
}

.theme-options-container,
.game-selector-view-mobile {
    display: flex;
    flex-direction: column;
    max-width: 18rem;
}


.options-container,
.topic-wrapper-mobile {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    justify-self: flex-start;
}

.topic-mobile-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding: 3rem;
    margin: -3rem;
}

.timer-container-mobile {
    display: flex;
}


.caret-container {
    margin: 0 .5rem
}

.options-icon {
    position: relative;
    padding: 3rem 0rem 3rem 3rem;
    margin: -3rem 0rem -3rem 0rem;
}

.topic-container {
    display: block;
    position: relative;
    padding-left: 1rem;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.topic-container:focus-within > div {
    outline: 3px solid #ECB904;
}

.topic-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: .75rem;
    left: 0;
    height: 18px;
    width: 18px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #545454;
}


.checkmark-checked {
    background-color: #45A0F4;
}

.checkmark-disabled {
    background-color: #737373;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.topic-container input:checked ~ .checkmark:after {
    display: block;
}

.topic-container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.bottom-item {
    margin-top: auto;
    margin-bottom: 0;
}
.top-item {
    margin-top: 0;
}

.footer-container {
    text-align: center;
}

.fordLabs-footer {
    font-weight: bold;
    font-family: "Antenna";
    text-align: center;
    font-size: .8rem;
    margin: 1rem;
}

.board-header {
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 1.13rem;
    font-family: 'Fredoka One', serif;
    text-shadow: 2px 2px 8px black;
    padding-left: 1.5rem;
    color: white;
}

.board-header-bingo {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(5, 17.5vw);
    font-size: 5rem;
    margin: 0 1rem 0 .5rem;
    text-align: center;
    font-family: 'Fredoka One', serif;
    text-shadow: 4px 4px 8px black;
    line-height: 90%;
    color: white;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    max-width: 95vw;
    padding: .5rem;
}

.tri-toggle-container {
    background-color: #C0C0C0;
    border-radius: 1.5rem;
    height: 3rem;
    width: 18rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    align-self: center;
    color: #575757;
    cursor: pointer;
    font-size: 1.1rem;

}

.tri-toggle-selected {
    background-color: #E9E9E9;
    border-radius: 1.5rem;
    color: #575757;
}

.tri-toggle-option {
    display: grid;
    text-align: center;
    line-height: 100%;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
}

.original-red {
    background: rgb(229, 123, 64);
}

.faded-blue {
    background: rgb(47, 158, 183);
}

.lucky-purple {
    background: rgb(227, 182, 35);
}

.goofy-green {
    background: rgb(70, 187, 136);
}

.ford-blue {
    background: linear-gradient(180deg, #4CA9E3 0%, #0F2955 89.58%);
}

.mobile-menu {
    position: absolute;
    top: 5rem;
    z-index: 100;
    padding: 1rem;

    background: white;
    border: 1px solid rgb(218, 218, 219);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.mobile-topics {
    left: 2.5rem;
}

.mobile-options {
    right: -.5rem;
}

.game-options-container,
.theme-options-container,
.topic-title,
.timer-container {
    display: none;
}

.timer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 9rem;
}

.timer-title {
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: bold;
    margin-right: .5rem;
}

.timer-time {
    justify-self: flex-end;
    margin-left: auto;
}

.modal-container {
    background: white !important;
}

/*Bootstrap overrides*/
.modal-dialog,
.modal-content {
    width: 100vw;
    max-width: unset;
    height: 100vh;
    max-height: 100vh;
    padding: 0;
    margin: 0;
    border: none;
    background: unset;
}

.close {
    margin: -1rem 0 -1rem -1rem;
    padding: 1rem !important;
}

.close:focus, .close:hover {
    color: unset;
    opacity: .5;
}

.form-errors {
    color: red;
    list-style-type: none;
}

.modal-content {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.multiplayer-container {
    display: flex;
    flex-wrap: wrap;
}

.multiplayer-title {
    padding-left: 1rem;
    margin: 0;
    font-weight: unset;
    width: 32%;
}
.multiplayer-game {
    display: flex;
    align-items: center;
    width: 18%;

}
.link-to-share {
    display: flex;
    align-items: center;
    width: 50%;
    margin-left: auto;
}
.waiting-placeholder {
    width: 100%;
    margin: 1rem;
    text-align: center;
}

.leave-button {
   margin: 1rem;
}
/*.multiplayer-start-container {*/
/*    display: grid;*/
/*    grid-template-columns: 30% 20% auto 40%;*/
/*    padding: .5rem;*/
/*    font-size: 1.25rem;*/
/*    justify-content: space-between;*/
/*}*/

.multiplayer-start-container {
    margin: 1rem 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 10rem;
    font-size: 1rem;
    justify-content: space-between;
}

.multiplayer-score-table-header {
    display: none;
}
.multiplayer-score-table-cell {
    margin: .3rem;
    display: inline-block;
    white-space: nowrap;

}
.gap {
    margin-right: 3rem;
}

/*.initials-label {*/
/*    display: flex;*/
/*    align-self: center;*/
/*}*/

.desktop-only {
    display: none;
}

* { box-sizing: border-box; }


@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }

    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}


.multiplayer-score-table {
    width: 100%;
    display: flex;
    font-size: 1.2rem;
    height: 3rem;
    line-height: 3rem;
    width: 100%;
    justify-content: flex-start;
}

.ticker-wrap {
    width: 100%;
    overflow: hidden;
    height: 3rem;
    padding-left: 100%;
    box-sizing: content-box;
}
.ticker-wrap .ticker {
    font-size: 1.2rem;
    display: inline-block;
    height: 3rem;
    line-height: 3rem;
    white-space: nowrap;
    padding-right: 100%;
    box-sizing: content-box;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 30s;
    animation-duration: 30s;
}
.ticker .multiplayer-score-table-cell  {
     display: inline-block;
 }






