@font-face {
    font-family: "Antenna";
    font-weight: 500;
    src: url("../assets/fonts/antenna/FordAntennaWGL-Regular.otf");
}

@font-face {
    font-family: "Antenna";
    font-weight: bold;
    src: url("../assets/fonts/antenna/FordAntennaWGL-Bold.otf");
}

html,
body {
    margin: 0;

    padding: 0;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 100%;
    height: 100%;
    max-height: 100%;
    font-family: Ubuntu, sans-serif;
}

button,
input,
textarea {
    font-family: Ubuntu, sans-serif;
}

button:disabled,
button[disabled] {
    opacity: .4 !important;
}

.body {
    background-color: white;
    color: #545454;
    min-height: 100vh;
    overflow: auto;
}

.body-container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.mobile-options-header {
    display: flex;
    padding: .5rem;
    font-size: 1.25rem;
    text-transform: uppercase;
    align-items: center;
}

.boardTableStyle {
    justify-content: center;
    padding: 1rem;
    margin: .5rem;
    display: grid;
    font-size: 1rem;
    background-color: white;
    grid-template-columns: repeat(5, 17.5vw);
    grid-template-rows: repeat(5, 17.5vw);
    max-width: none;
}

.center-star {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.square-container {
    display: table;
    height: 100%;
    width: 100%;
}

.dot {
    height: 85%;
    width: 85%;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
}

.winning-container {
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: .5rem;
    padding: 1rem;
    width: calc(5 * 17.5vw);
    height: calc(5 * 17.5vw);
}

.winning-header {
    font-size: 3.125rem;
    align-items: center;
    display: flex;
    font-weight: bold;
    margin: 2rem;
    position: relative;
    text-transform: uppercase;
}

.winning-star {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
}

.winning-header-emoji {
    font-size: 6rem;
    vertical-align: center;
    margin: 0 3rem;
}

.topScoreHeaderStyle {
    text-align: center;
    grid-column: span 3;
    font-size: 1.25rem;
    border: none;
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-weight: bold;
}

.topScoreTableStyle {
    display: grid;
    text-align: left;
    grid-template-columns: 20% auto 20%;
    margin-left: 1rem;
    background: rgba(236, 185, 4, 0.5);
    border-radius: 8px;
    padding: 1rem 2rem;
}


.topScoreColumnHeaderStyle {
}

.topScoreRow {
    font-size: 1rem;
    margin: .3rem 0;
}

.player-input {
    background: rgba(255, 255, 255, 0.8);
    border: 0.5px solid rgba(84, 84, 84, 0.8);
    box-sizing: border-box;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-size: 1rem;
    padding: 0 .75rem;
    margin-right: 1rem;
    max-width: 10rem;
}

.submitScoreButton {
    font-size: 1.9rem;
    line-height: 100%;
    padding: 1rem;
    background: #ED9E28;
    border-radius: 8px;
    margin: 1rem;
    color: #545454;
}

.submit-score-form {
    justify-content: right;
    display: grid;
    text-align: center;
    margin-top: .5rem;
    font-size: 1rem;
    font-weight: bold;
}

.suggestion-input {
    padding: .3125rem;
    border-radius: 5px;
    width: 25rem;
    min-height: 4rem;
    font-weigt: bold;
    font-size: 1rem;
}


.centered {
    text-align: center;
}

.boardOptionSelected {
    border: 0.5px solid #545454;
    box-sizing: border-box;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.boardOption {
    border: none;
}

.board-option-label {
    font-size: 1rem;
    font-weight: bold;
    padding: .75rem;
    cursor: pointer;
}

.blue-dauber {
    background-color: #095CFF66;
}

.keylime-dauber {
    background-color: #79BA1066;
}

.magenta-dauber {
    background-color: #FA00C366;
}

.ruby-dauber {
    background-color: #D3133666;
}

.tangerine-dauber {
    background-color: #ED9E2866;
}

.dauber-chip {
    height: 2.375rem;
    width: 2.375rem;
    border-radius: 50%;
}

.square {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    padding: 5px;
    position: relative;
    font-weight: bold;
    font-size: 1.6rem;
}

.square-border-right {
    border-right: 4px solid #545454;
}

.square-border-bottom {
    border-bottom: 4px solid #545454;
}

.square-border-none {
    border: none;
}

.blue-dauber-cursor {
    cursor: url('../assets/blue-dauber.png'), auto;
}

.keylime-dauber-cursor {
    cursor: url('../assets/key-lime-dauber.png'), auto;
}

.magenta-dauber-cursor {
    cursor: url('../assets/magenta-dauber.png'), auto;
}

.ruby-dauber-cursor {
    cursor: url('../assets/ruby-dauber.png'), auto;
}

.tangerine-dauber-cursor {
    cursor: url('../assets/tangerine-dauber.png'), auto;
}

.categoryWrapper,
.game-options-container {
    display: none;
}

.game-selector-view-mobile {
    display: flex;
    flex-direction: column;
    max-width: 18rem;
}

.category-title {
    display: none;
}

.categoryWrapper-mobile {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-self: flex-start;
}

.category-mobile-wrapper {
    position: relative;
    margin-right: auto;
    display: flex;
    align-items: center;
}

.options-caret-container {
    margin: 0 .5rem
}

.options-icon {
    justify-self: flex-end;
    position: relative;
}

.container {
    display: block;
    position: relative;
    padding-left: 1rem;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: .75rem;
    left: 0;
    height: 18px;
    width: 18px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #545454;
}


.checkmark-checked {
    background-color: #45A0F4;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.boardStyleSelectorWrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-self: flex-start;
}

.footer-container {
    text-align: center;
}

.fordLabs-footer {
    font-weight: bold;
    font-family: "Antenna";
    text-align: center;
    font-size: .8rem;
    margin: 1rem;
}


.anchor:link {
    text-decoration: none;
}

.anchor:visited {
    text-decoration: none;
}

.anchor:hover {
    text-decoration: underline;
}

.anchor:active {
    text-decoration: underline;
}

/* ----------- Wide Desktop Screens ----------- */
@media screen
and (min-device-width: 1367px) {
    .categoryWrapper {
        justify-self: flex-end;
    }
}

.boardHeaderTopStyle {
    justify-content: center;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1.13rem;
    font-family: Stoke, serif;
    color: white;
    padding-left: 1.5rem;
}

.boardHeaderStyle {
    justify-content: center;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(5, 17.5vw);
    font-size: 4rem;
    margin: 0 1rem 0 .5rem;
    text-align: center;
    font-family: Stoke, serif;
    color: white;
    max-width: calc(5 * 8.75rem + 2rem);
    line-height: 90%;
}

.bingoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 95vw;
    max-width: 95vw;
    padding: .5rem;
}

.tri-toggle-container {
    background-color: #C0C0C0;
    border-radius: 1.25rem;
    height: 2.5rem;
    width: 13.875rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    align-self: center;
    color: #575757;
    cursor: pointer;
}

.tri-toggle-selected {
    background-color: #E9E9E9;
    border-radius: 1.25rem;
    color: #575757;
}

.original-red {
    background: #EB514D;
}

.faded-blue {
    background: #97CBEB;
}

.lucky-purple {
    background: #896DD6;
}

.goofy-green {
    background: #84D552;
}

.ford-blue {
    background: linear-gradient(180deg, #4CA9E3 0%, #0F2955 89.58%);
}


.mobile-menu {
    position: absolute;
    top: 2rem;
    z-index: 100;
    padding: 1rem;

    background: #FFFFFF;
    border: 0.5px solid #E5E5E5;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.mobile-topics {
    left: -.5rem;
}

.mobile-options {
    right: -.5rem;
}

.mobile-topics-dark,
.mobile-options-dark {
    background: #545454;
    border: 0.5px solid #E5E5E5;
    box-shadow: 2px 3px 4px rgba(229, 229, 229, 0.2);
}
