@media only screen and (min-width: 1025px) {

    .body-container {
        display: grid;
        grid-template-columns: 1fr auto 1fr;
    }

    .anchor {
        padding: 0;
        margin: 0;
    }

    .close {
        margin: 0;
        padding: 0 !important;
    }


    .desktop-only {
        display: unset;
    }

    .board-container {
        padding: .5rem 4rem;
        width: initial;
    }

    .board-table {
        grid-template-columns: repeat(5, 8.75rem);
        grid-template-rows: repeat(5, 8.75rem);
    }

    .board-header-bingo {
        grid-template-columns: repeat(5, 8.75rem);
        margin: 0 1rem;
    }

    .winning-container {
        width: calc(5 * 8.75rem);
        height: calc(5 * 8.75rem);
    }

    .square {
        font-size: 1.25rem;
    }

    .theme-options-container {
        display: flex;
        margin: 0 1rem;
    }

    .game-options-container {
        display: flex;
        flex-direction: column;
        width: 16rem;
        margin: 1rem;
        justify-self: flex-end;
    }

    .topic-title,
    .timer-container {
        display: block;
    }

    .tri-toggle-container {
        height: 2.5rem;
        width: 13.875rem;
        font-size: 1rem;
        border-radius: 1.25rem;
        line-height: 1;
    }

    .tri-toggle-selected {
        border-radius: 1.25rem;
    }

    .tri-toggle-option {
        line-height: 90%;
    }

    .modal-container {
        border: 1px solid rgba(0, 0, 0, .2);
        border-radius: .3rem;
    }

    /*Bootstrap overrides*/
    .modal-dialog,
    .modal-content {
        width: initial;
        height: fit-content;
        max-height: min-content;
        padding: initial;
        margin: auto;
    }

    .modal.show .modal-dialog {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: unset;
    }

    .modal-content {
        margin: 0;
    }

    .modal-container-dark {
        border: 1px solid rgb(218, 218, 219);
        box-shadow: 2px 3px 4px rgba(229, 229, 229, 0.2);
    }

    .multiplayer-container {
        margin-bottom: 2rem;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .multiplayer-game {
        display: flex;
        justify-content: space-between;
    }

    .multiplayer-score-table {
        display: grid;
        margin-top: .5rem;
        font-size: 1rem;
        grid-template-columns: 30% auto;
        text-align: center;
        width: 95%;
        line-height: 1rem;

    }
    .multiplayer-start-container {
        min-height: 7rem;
    }



    .multiplayer-score-table-cell {
        margin: .3rem;
        display: block;
        white-space: unset;
        display: inline-block;

    }

    .multiplayer-score-table-header {
        display: block;
        font-weight: bold;
        margin: .5rem 0;
    }

    .multiplayer-input {
        padding: .3125rem;
        margin-top: .5rem;
        margin-right: 1rem;
    }
    .submit-button-secondary {

    }

    .form-errors {
        font-size: .8rem;
        margin: .2rem;
    }
    .link-to-share {
        margin-top: .5rem;
        justify-self: unset;
    }
    .waiting-placeholder {
        margin-top: .5rem;
        margin-left: 0;
        text-align: left;
    }

    .copy-button {
        padding: 0;
        margin-left: 1rem;
    }

    .multiplayer-title {
        padding-left: 0;
        font-weight: bold;
        width: unset;
        display: block;
        margin-bottom: 1rem;
    }
    .multiplayer-game {
        display: flex;
        align-items: center;
        width: 90%;

    }
    .link-to-share {
        display: flex;
        align-items: center;
        width: unset;
        margin-left: 0;
    }

    .leave-button {
        margin: auto 0 1rem 0;
    }

    .mobile {
        display: none;
    }


}


