@font-face {
    font-family: "Antenna";
    font-weight: 500;
    src: url("./assets/fonts/antenna/FordAntennaWGL-Regular.otf");
}

@font-face {
    font-family: "Antenna";
    font-weight: bold;
    src: url("./assets/fonts/antenna/FordAntennaWGL-Bold.otf");
}

html,
body {
    margin: 0;

    padding: 0;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 100%;
    height: 100%;
    max-height: 100%;
}


.body {
    background-color: white;
    color: #545454;
    min-height: 100vh;
    overflow: auto;
}

.body-dark {
    background-color: #545454;
    color: #E5E5E5;
}


.boardTableStyle {
    justify-content: center;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(5, 8.75rem);
    grid-template-rows: repeat(5, 8.75rem);
    font-size: 1rem;
    font-family: Ubuntu, sans-serif;
    margin: 1rem;
    background-color: white;
    max-width: calc(5 * 8.75rem + 2rem);
}

.boardOptionSelected {
    border: 0.5px solid #545454;
    box-sizing: border-box;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.boardOption {
    border: none;
}

.blue-dauber {
    background-color: #095CFF66;
}

.keylime-dauber {
    background-color: #79BA1066;
}

.magenta-dauber {
    background-color: #FA00C366;
}

.ruby-dauber {
    background-color: #D3133666;
}

.tangerine-dauber {
    background-color: #ED9E2866;
}

.dauber-chip {
    height: 2.375rem;
    width: 2.375rem;
    border-radius: 50%;
}

.blue-dauber-cursor {
    cursor: url('assets/blue-dauber.png'), auto;
}

.keylime-dauber-cursor {
    cursor: url('assets/key-lime-dauber.png'), auto;
}

.magenta-dauber-cursor {
    cursor: url('assets/magenta-dauber.png'), auto;
}

.ruby-dauber-cursor {
    cursor: url('assets/ruby-dauber.png'), auto;
}

.tangerine-dauber-cursor {
    cursor: url('assets/tangerine-dauber.png'), auto;
}

.categoryWrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-self: flex-start;
}

.boardStyleSelectorWrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-self: flex-start;
}

.fordLabs-footer {
    font-weight: bold;
    font-family: "Antenna";
    text-align: center;
    font-size: .8rem;
    margin: 1rem;
}


.anchor-dark {
    color: #E5E5E5;
}

.anchor:link {
    text-decoration: none;
}

.anchor:visited {
    text-decoration: none;
}

.anchor:hover {
    text-decoration: underline;
}

.anchor:active {
    text-decoration: underline;
}

/* ----------- Wide Desktop Screens ----------- */
@media screen
and (min-device-width: 1367px) {
    .categoryWrapper {
        justify-self: flex-end;
    }
}

.boardHeaderTopStyle {
    justify-content: center;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
    letter-spacing: .875rem;
    font-family: Stoke, serif;
    color: white;
}

.boardHeaderStyle {
    justify-content: center;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(5, 8.75rem);
    font-size: 5.3125rem;
    margin: 0 1rem;
    text-align: center;
    font-family: Stoke, serif;
    color: white;
    max-width: calc(5 * 8.75rem + 2rem);
    line-height: 90%;
}

.bingoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: calc(5 * 8.75rem + 8rem);
    padding: 1rem 4rem 2rem 4rem;
}

.tri-toggle-container {
    background-color: #C0C0C0;
    border-radius: 1.25rem;
    height: 2.5rem;
    width: 13.875rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    align-self: center;
    color: #575757;
    cursor: pointer;
}

.tri-toggle-container-dark {
    background-color: #8A8A8A;
    color: #E5E5E5;
}

.tri-toggle-selected {
    background-color: #E9E9E9;
    border-radius: 1.25rem;
    color: #575757;
}

.tri-toggle-selected-dark {
    color: #545454;
}

.boardTableStyle-dark {
    background-color: #6C6C6C;
}

.boardBorder-dark {
    border-color: #E5E5E5 !important;
}

.fordBlueDark {
    background: linear-gradient(180deg, #326F96 0%, #0B1C39 89.58%) !important;
}

.boardOptionSelected {
    border: 0.5px solid #E5E5E5;
    box-shadow: 2px 3px 4px rgba(229, 229, 229, 0.2);
}

.blue-dauber-dark {
    background-color: #75A4FF66;
}

.keylime-dauber-dark {
    background-color: #DCF75A66;
}

.magenta-dauber-dark {
    background-color: #FD99E766;
}

.ruby-dauber-dark {
    background-color: #C1274566;
}

.tangerine-dauber-dark {
    background-color: #FFB44666;
}

.blue-dauber-cursor-dark {
    cursor: url('assets/blue-dauber-dark.png'), auto;
}

.keylime-dauber-cursor-dark {
    cursor: url('assets/key-lime-dauber-dark.png'), auto;
}

.magenta-dauber-cursor-dark {
    cursor: url('assets/magenta-dauber-dark.png'), auto;
}

.ruby-dauber-cursor-dark {
    cursor: url('assets/ruby-dauber-dark.png'), auto;
}

.tangerine-dauber-cursor-dark {
    cursor: url('assets/tangerine-dauber-dark.png'), auto;
}

.blue-dauber-dark {
    background-color: #75A4FF;
}

.keylime-dauber-dark {
    background-color: #DCF75A;
}

.magenta-dauber-dark {
    background-color: #FD99E7;
}

.ruby-dauber-dark {
    background-color: #C12745;
}

.tangerine-dauber-dark {
    background-color: #FFB446;
}

