@font-face {
    font-family: "Antenna";
    font-weight: 500;
    src: url("./assets/fonts/antenna/FordAntennaWGL-Regular.otf");
}

@font-face {
    font-family: "Antenna";
    font-weight: bold;
    src: url("./assets/fonts/antenna/FordAntennaWGL-Bold.otf");
}

html,
body {
    margin: 0;

    padding: 0;

    min-width: 100%;
    width: 100%;
    max-width: 100%;

    min-height: 100%;
    height: 100%;
    max-height: 100%;
}


.body {
    background-color: white;
    color: #545454;
    min-height: 100vh;
    overflow: auto;
}

.body-dark {
    background-color: #545454;
    color: #E5E5E5;
}


.boardTableStyle {
    justify-content: center;
    padding: 1rem;
    margin: .5rem;
    display: grid;
    grid-template-columns: repeat(5, 8.75rem);
    grid-template-rows: repeat(5, 8.75rem);
    font-size: 1rem;
    font-family: Ubuntu, sans-serif;
    background-color: white;
    max-width: calc(5 * 8.75rem + 2rem);
}

.boardOptionSelected {
    border: 0.5px solid #545454;
    box-sizing: border-box;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.boardOption {
    border: none;
}

.blue-dauber {
    background-color: #095CFF66;
}

.keylime-dauber {
    background-color: #79BA1066;
}

.magenta-dauber {
    background-color: #FA00C366;
}

.ruby-dauber {
    background-color: #D3133666;
}

.tangerine-dauber {
    background-color: #ED9E2866;
}

.dauber-chip {
    height: 2.375rem;
    width: 2.375rem;
    border-radius: 50%;
}

.blue-dauber-cursor {
    cursor: url('assets/blue-dauber.png'), auto;
}

.keylime-dauber-cursor {
    cursor: url('assets/key-lime-dauber.png'), auto;
}

.magenta-dauber-cursor {
    cursor: url('assets/magenta-dauber.png'), auto;
}

.ruby-dauber-cursor {
    cursor: url('assets/ruby-dauber.png'), auto;
}

.tangerine-dauber-cursor {
    cursor: url('assets/tangerine-dauber.png'), auto;
}

.categoryWrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-self: flex-start;
}

.container {
    display: block;
    position: relative;
    padding-left: 1rem;
    /*margin-bottom: 12px;*/
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: .75rem;
    left: 0;
    height: 18px;
    width: 18px;
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #545454;
}

.checkmark-dark {
    border-color: #E5E5E5;
}
.checkmark-checked {
    background-color: #45A0F4;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    left: 5px;
    top: 1px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 1px 1px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.boardStyleSelectorWrapper {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    justify-self: flex-start;
}

.fordLabs-footer {
    font-weight: bold;
    font-family: "Antenna";
    text-align: center;
    font-size: .8rem;
    margin: 1rem;
}


.anchor-dark {
    color: #E5E5E5;
}

.anchor:link {
    text-decoration: none;
}

.anchor:visited {
    text-decoration: none;
}

.anchor:hover {
    text-decoration: underline;
}

.anchor:active {
    text-decoration: underline;
}

/* ----------- Wide Desktop Screens ----------- */
@media screen
and (min-device-width: 1367px) {
    .categoryWrapper {
        justify-self: flex-end;
    }
}

.boardHeaderTopStyle {
    justify-content: center;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 50px;
    text-align: center;
    letter-spacing: 1.13rem;
    font-family: Stoke, serif;
    color: white;
    padding-left: 1.5rem;
}

.boardHeaderStyle {
    justify-content: center;
    padding: 0 1rem;
    display: grid;
    grid-template-columns: repeat(5, 8.75rem);
    font-size: 4rem;
    margin: 0 1rem;
    text-align: center;
    font-family: Stoke, serif;
    color: white;
    max-width: calc(5 * 8.75rem + 2rem);
    line-height: 90%;
}

.bingoCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: calc(5 * 8.75rem + 8rem);
    padding: .5rem 3.5rem;
}

.tri-toggle-container {
    background-color: #C0C0C0;
    border-radius: 1.25rem;
    height: 2.5rem;
    width: 13.875rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    align-self: center;
    color: #575757;
    cursor: pointer;
}

.tri-toggle-container-dark {
    background-color: #8A8A8A;
    color: #E5E5E5;
}

.tri-toggle-selected {
    background-color: #E9E9E9;
    border-radius: 1.25rem;
    color: #575757;
}

.tri-toggle-selected-dark {
    color: #545454;
}

.boardTableStyle-dark {
    background-color: #6C6C6C;
}

.boardBorder-dark {
    border-color: #E5E5E5 !important;
}

.original-red {
    background: #EB514D;
}

.faded-blue {
    background: #97CBEB;
}

.lucky-purple {
    background: #896DD6;
}

.goofy-green {
    background: #84D552;
}

.ford-blue {
    background: linear-gradient(180deg, #4CA9E3 0%, #0F2955 89.58%);
}

.original-red-dark {
    background: #B44542;
}

.faded-blue-dark {
    background: #749CB5;
}

.lucky-purple-dark {
    background: #4B376B;
}

.goofy-green-dark {
    background: #5A9138;
}

.ford-blue-dark {
    background: linear-gradient(180deg, #326F96 0%, #0B1C39 89.58%);
}

.boardOptionSelected-dark {
    border: 0.5px solid #E5E5E5;
    box-shadow: 2px 3px 4px rgba(229, 229, 229, 0.2);
}


.blue-dauber-dark {
    background-color: #75A4FF66;
}

.keylime-dauber-dark {
    background-color: #DCF75A66;
}

.magenta-dauber-dark {
    background-color: #FD99E766;
}

.ruby-dauber-dark {
    background-color: #C1274566;
}

.tangerine-dauber-dark {
    background-color: #FFB44666;
}

.blue-dauber-cursor-dark {
    cursor: url('assets/blue-dauber-dark.png'), auto;
}

.keylime-dauber-cursor-dark {
    cursor: url('assets/key-lime-dauber-dark.png'), auto;
}

.magenta-dauber-cursor-dark {
    cursor: url('assets/magenta-dauber-dark.png'), auto;
}

.ruby-dauber-cursor-dark {
    cursor: url('assets/ruby-dauber-dark.png'), auto;
}

.tangerine-dauber-cursor-dark {
    cursor: url('assets/tangerine-dauber-dark.png'), auto;
}

.blue-dauber-dark {
    background-color: #75A4FF;
}

.keylime-dauber-dark {
    background-color: #DCF75A;
}

.magenta-dauber-dark {
    background-color: #FD99E7;
}

.ruby-dauber-dark {
    background-color: #C12745;
}

.tangerine-dauber-dark {
    background-color: #FFB446;
}

