.boardTableStyle {
    justify-content: center;
    padding-top: 5px;
    display: grid;
    grid-template-columns: repeat(5,8.75rem);
    grid-template-rows: repeat(5,8.75rem);
    font-size: 1rem;
    font-family: sans-serif;
}
